.outer-box {
  @apply w-24 flex-row justify-center align-middle;
  
  border-top: 2px solid;
  border-bottom: 2px solid;
  
  backface-visibility: hidden;
  user-select: none;
  
  transform: translate(-50%, -160%);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  
  white-space: nowrap;
}

.name-box {
  @apply h-6 text-base text-center z-20;
  text-shadow: -1px -1px 0 #444, 1px -1px 0 #444, -1px 1px 0 #444, 1px 1px 0 #444;
}

.planet-box {
  @apply h-6 z-10;
  border-top: 1px solid #888;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

  display: flex;
  justify-content: space-evenly;
}
